{
  "env": {
    "development": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["transform-runtime", {"polyfill": false}]
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "transform-class-properties",
        ["transform-runtime", {"polyfill": false}],
        "transform-react-constant-elements",
        "transform-react-remove-prop-types"
      ]
    }
  }
}
