<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Canvas Ps</h1>
    <p>blackboard</p>
    <script>

    </script>
  </body>
</html>
