<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/styles/index.css' />
  </head>
  <body>
    <div class='canvasBoard'>
      <div class='canvasBoardWrapper'>
          <div class='wheel'>
              <div class='wheelBtnWrapper'>
                <a href='javascript:;' class='wheelBtn pencil'>
              
                </a>
              </div>
              <div class='wheelBtnWrapper'>
                <a href='javascript:;' class='wheelBtn rect'>
              
                </a>
              </div>
              <div class='wheelBtnWrapper'>
                <a href='javascript:;' class='wheelBtn erase'>
              
                </a>
              </div>
              <div class='wheelBtnWrapper'>
                <a href='javascript:;' class='wheelBtn rubbin'>
              
                </a>
              </div>
          </div>
      </div>
      <div class='bottomBar'>
        <div class='screen'>
          <a href='javascript:;' class='deleteBtn'></a>
        </div>
        <a href='javascript:;' class='addScreen'>
        </a>
      </div>
    </div>
    <script>

    </script>
    <script src='/scripts/index.js'></script>
  </body>
</html>
